@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>150 <i class="fa-solid fa-users-line"></i></h3>

                <p>No Of Employees</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-users-line"></i>
            </div>
            <a asp-controller="Employees" asp-action="Index" class="small-box-footer">View <i class="fa fa-eye"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>53@* <sup style="font-size: 20px">%</sup> *@ <i class="fa-solid fa-building-user"></i></h3>

                <p>Number of Departments</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-building-user"></i>
            </div>
            <a asp-controller="Departments" asp-action="Index" class="small-box-footer">View <i class="fa fa-eye"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
  
    
</div>
